* {
  margin: 0;
  padding: 0;
}

.w {
  margin: 0 auto;
  width: 1000px;
}

.top {
  width: 1920px;
  overflow: hidden;
}

.top_one {
  height: 75px;
}

.top_one span {
  margin-top: 10px;
  margin-right: 40px;
  float: left;
}

.top_one span img {
  width: 135px;
}

.top_one ul {
  float: left;
  margin-top: 30px;
}

.top_one ul li {
  float: left;
  margin: 0 24px;
  font-size: 20px;
}

.top_one ul li a {
  text-decoration: none;
}

.top_one ul li a:hover {
  color: red;
}

.top_one .a_color {
  color: red;
}

.top_one .top_search {
  float: left;
}

.top_one .top_search input {
  border: none;
  margin-top: 20px;
  width: 270px;
  height: 26px;
  outline-style: none;
}

.top_one .top_search i {
  display: inline-block;
  width: 24px;
  height: 26px;
  background: url(../img/tubiao/search.png) no-repeat center center;
  vertical-align: middle;
}

.top_one button {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  width: 50px;
  height: 30px;
  border: 1px solid red;
  color: red;
  border-radius: 3px;
  font-size: 15px;
  background-color: white;
}

.footer {
  margin-top: 10px;
  width: 1920px;
  height: 360px;
  overflow: hidden;
  background-color: #505050;
}

.footer .footer_t {
  margin-top: 30px;
  height: 320px;
}

.footer .footer_t .foot_img {
  display: inline-block;
  width: 350px;
  height: 285px;
}

.footer .footer_t .foot_img .foot_img_1 {
  margin-right: 20px;
  display: inline-block;
  width: 180px;
  height: 180px;
  background: url(../img/code.png) no-repeat;
  overflow: hidden;
}

.footer .footer_t .foot_img span {
  float: left;
  color: #818382;
}

.footer .footer_t .foot_img span img {
  margin-bottom: 25px;
}

.footer .footer_t .foot_img span p:nth-child(3) {
  margin-bottom: 25px;
}

.footer .footer_t .foot_dl {
  float: right;
  width: 620px;
  height: 200px;
}

.footer .footer_t .foot_dl dl {
  float: left;
}

.footer .footer_t .foot_dl dl dt {
  margin-bottom: 30px;
  font-size: 16px;
  color: white;
}

.footer .footer_t .foot_dl dl dd {
  margin-right: 25px;
}

.footer .footer_t .foot_dl dl dd a {
  font-size: 12px;
  color: #818382;
}

.footer .footer_t .foot_dl .dl_2 {
  float: left;
  width: 160px;
  height: 200px;
}

.footer .footer_t .foot_dl .dl_2 dd {
  margin-right: 10px;
}

.footer .footer_t .foot_dl .dl_2 ul {
  float: left;
}

.footer .footer_t .foot_botton {
  height: 30px;
  text-align: center;
  color: #818382;
}

@keyframes animtop1 {
  0% {
    transform: rotateZ(360deg);
    transform: scale(0, 0);
  }
  100% {
    transform: rotateZ(0deg);
    transform: scale(1, 1);
  }
}

.main_index {
  width: 1920px;
}

.main_index .m_index_top {
  position: relative;
}

.main_index .m_index_top .m_inde_top1 {
  position: absolute;
  top: 10%;
  right: 22.5%;
  width: 350px;
  height: 230px;
  z-index: 2;
  animation: animtop1 3s linear 1;
}

.main_index .m_index_top .m_inde_top1 h2 {
  font-size: 32px;
  color: white;
}

.main_index .m_index_top .m_inde_top1 .m_i_span {
  margin-top: 20px;
  height: 60px;
}

.main_index .m_index_top .m_inde_top1 .m_i_span span {
  margin-right: 15px;
  padding: 10px 13px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  color: white;
}

.main_index .m_index_top .m_inde_top1 .m_i_span span:nth-child(1) {
  margin-left: 55px;
}

.main_index .m_index_top .m_inde_top1 .m_i_time {
  height: 40px;
  font-size: 18px;
  color: white;
}

.main_index .m_index_top .m_inde_top1 button {
  margin-left: 55px;
  width: 255px;
  height: 50px;
  font-size: 26px;
  color: white;
  border: none;
  background-color: #fe5341;
}

.main_index .index_m_gund {
  overflow: hidden;
  width: 1920px;
  height: 380px;
}

.main_index .index_m_gund .in_m_g_tit {
  height: 65px;
  font-size: 20px;
  font-weight: 700;
  line-height: 65px;
}

.main_index .in_m_gund_cent {
  margin: 0 auto;
  width: 1094px;
  height: 290px;
}

.main_index .in_m_gund_cent .in_m_g_left {
  margin-right: 10px;
  float: left;
  height: 290px;
  width: 37px;
  background: url(../img/tubiao/prev.png) no-repeat center;
  cursor: pointer;
}

.main_index .in_m_gund_cent .in_m_g_right {
  margin-left: 10px;
  float: left;
  width: 37px;
  height: 290px;
  background: url(../img/tubiao/next.png) no-repeat center;
  cursor: pointer;
}

.main_index .in_m_gund_cent .in_m_g_left:hover,
.main_index .in_m_gund_cent .in_m_g_right:hover {
  background-color: skyblue;
}

.main_index .in_m_gund_cent .in_m_g_cent {
  float: left;
  width: 1000px;
  height: 320px;
  overflow: hidden;
}

.main_index .in_m_gund_cent .in_m_g_cent .in_m_g_ul {
  width: 3500px;
}

.main_index .in_m_gund_cent .in_m_g_cent .in_m_g_ul li {
  margin-right: 35px;
  float: left;
  width: 220px;
  height: 290px;
  border-radius: 10px;
  overflow: hidden;
}

.main_index .in_m_gund_cent .in_m_g_cent .in_m_g_ul li img {
  width: 220px;
  height: 130px;
}

.main_index .in_m_gund_cent .in_m_g_cent .in_m_g_ul li h2 {
  font-size: 16px;
  font-weight: 700;
}

.main_index .in_m_gund_cent .in_m_g_cent .in_m_g_ul li .in_lunb {
  height: 35px;
}

.main_index .in_m_gund_cent .in_m_g_cent .in_m_g_ul li .in_lunb .in_lunb_s1 {
  margin-left: 50px;
  float: left;
  margin-top: 5px;
  padding: 3px 10px;
  border: 1px solid #f8563d;
  border-radius: 5px;
  color: #f8563d;
}

.main_index .in_m_gund_cent .in_m_g_cent .in_m_g_ul li .in_lunb .in_lunb_s2 {
  margin-left: 10px;
  float: left;
  margin-top: 5px;
  padding: 3px 10px;
  border: 1px solid #f8563d;
  border-radius: 5px;
  color: #f8563d;
}

.main_index .in_m_gund_cent .in_m_g_cent .in_m_g_ul li .lunb_shenq {
  height: 35px;
  text-align: center;
  line-height: 35px;
}

.main_index .in_m_gund_cent .in_m_g_cent .in_m_g_ul li .lunb_shenq strong {
  color: #f8563d;
}

.main_index .in_m_gund_cent .in_m_g_cent .in_m_g_ul li .lunb_foot {
  height: 20px;
  color: #f8563d;
  line-height: 20px;
  text-align: center;
}

.main_index .ind_baogao {
  width: 1920px;
  height: 570px;
  background-color: #f7f7f7;
  transition: all 2s;
  overflow: hidden;
}

.main_index .ind_baog_tit {
  margin-top: 25px;
  float: left;
  width: 100%;
  font-weight: 700;
  height: 25px;
}

.main_index .ind_baog_tit span:nth-child(1) {
  font-size: 20px;
}

.main_index .ind_baog_tit span:nth-child(2) {
  float: right;
  font-size: 12px;
  color: #fe5035;
  cursor: pointer;
}

.main_index .ind_baog_tit span:nth-child(2) i {
  margin-left: 10px;
  display: inline-block;
  width: 12px;
  height: 10px;
  background: url(../img/tubiao/readMore.png) no-repeat center center;
}

.main_index .ind_baog_ul {
  height: 800px;
}

.main_index .ind_baog_ul li {
  margin-top: 20px;
  margin-right: 20px;
  float: left;
  width: 220px;
  height: 230px;
  border-radius: 10px;
}

.main_index .ind_baog_ul li img {
  width: 220px;
  height: 150px;
  border-radius: 10px 10px 0 0;
}

.main_index .ind_baog_ul li h3 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
}

.main_index .ind_baog_ul li .ind_baog_foot {
  margin-top: 20px;
  height: 20px;
  overflow: hidden;
}

.main_index .ind_baog_ul li .ind_baog_foot span {
  float: left;
  font-size: 12px;
}

.main_index .ind_baog_ul li .ind_baog_foot span:nth-child(1) {
  margin-left: 20px;
}

.main_index .ind_baog_ul li .ind_baog_foot span:nth-child(2) {
  margin-right: 10px;
  float: right;
}

.main_index .ind_baog_ul li .ind_baog_foot span:nth-child(2) i {
  display: inline-block;
  margin-left: 10px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
  vertical-align: baseline;
}

.main_index .ind_baog_ul li .ind_baog_foot span:nth-child(2) i:nth-child(1) {
  background: url(../img/tubiao/zan.png) no-repeat center center;
}

.main_index .ind_baog_ul li .ind_baog_foot span:nth-child(2) i:nth-child(2) {
  background: url(../img/tubiao/xin.png) no-repeat center center;
}

.main_index .ind_daogou {
  width: 1920px;
  height: 305px;
  overflow: hidden;
  transition: all 2s;
}

.main_index .ind_daogou .ind_daogou_tit {
  margin-top: 20px;
  margin-top: 25px;
  float: left;
  width: 100%;
  font-weight: 700;
  height: 25px;
}

.main_index .ind_daogou .ind_daogou_tit span:nth-child(1) {
  font-size: 20px;
}

.main_index .ind_daogou .ind_daogou_tit span:nth-child(2) {
  float: right;
  font-size: 12px;
  color: #fe5035;
  cursor: pointer;
}

.main_index .ind_daogou .ind_daogou_tit span:nth-child(2) i {
  margin-left: 10px;
  display: inline-block;
  width: 12px;
  height: 10px;
  background: url(../img/tubiao/readMore.png) no-repeat center center;
}

.main_index .ind_daogou .ind_daogou_ul {
  height: 400px;
  float: left;
}

.main_index .ind_daogou .ind_daogou_ul li {
  margin-top: 20px;
  margin-right: 20px;
  float: left;
  width: 220px;
  height: 230px;
  border-radius: 10px;
}

.main_index .ind_daogou .ind_daogou_ul li img {
  width: 220px;
  height: 150px;
  border-radius: 10px 10px 0 0;
}

.main_index .ind_daogou .ind_daogou_ul li h3 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 12px;
}

.main_index .ind_daogou .ind_daogou_ul li .ind_baog_foot {
  margin-top: 20px;
  height: 20px;
  overflow: hidden;
}

.main_index .ind_daogou .ind_daogou_ul li .ind_baog_foot span {
  float: left;
  font-size: 12px;
}

.main_index .ind_daogou .ind_daogou_ul li .ind_baog_foot span:nth-child(1) {
  margin-left: 20px;
}

.main_index .ind_daogou .ind_daogou_ul li .ind_baog_foot span:nth-child(2) {
  margin-right: 10px;
  float: right;
}

.main_index .ind_daogou .ind_daogou_ul li .ind_baog_foot span:nth-child(2) i {
  display: inline-block;
  margin-left: 10px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
  vertical-align: baseline;
}

.main_index .ind_daogou .ind_daogou_ul li .ind_baog_foot span:nth-child(2) i:nth-child(1) {
  background: url(../img/tubiao/zan.png) no-repeat center center;
}

.main_index .ind_daogou .ind_daogou_ul li .ind_baog_foot span:nth-child(2) i:nth-child(2) {
  background: url(../img/tubiao/xin.png) no-repeat center center;
}

.main_index .ind_play {
  width: 1920px;
  height: 1100px;
  background-color: #f7f7f7;
}

.main_index .ind_play .ind_play_tit {
  margin-top: 20px;
  margin-top: 25px;
  float: left;
  width: 100%;
  font-weight: 700;
  height: 25px;
}

.main_index .ind_play .ind_play_tit span:nth-child(1) {
  font-size: 20px;
}

.main_index .ind_play .ind_play_tit span:nth-child(2) {
  float: right;
  font-size: 12px;
  color: #fe5035;
  cursor: pointer;
}

.main_index .ind_play .ind_play_tit span:nth-child(2) i {
  margin-left: 10px;
  display: inline-block;
  width: 12px;
  height: 10px;
  background: url(../img/tubiao/readMore.png) no-repeat center center;
}

.main_index .ind_play .ind_play_ul {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  height: 230px;
}

.main_index .ind_play .ind_play_ul li {
  margin-top: 10px;
  margin-right: 25px;
  float: left;
  width: 220px;
  height: 100%;
  border-radius: 10px;
}

.main_index .ind_play .ind_play_ul li img {
  width: 220px;
  height: 130px;
  border-radius: 10px 10px 0 0;
}

.main_index .ind_play .ind_play_ul li h3 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
  color: #000;
}

.main_index .ind_play .ind_play_ul li p {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 12px;
  color: #ccc;
}

.main_index .ind_play .ind_play_ul li div {
  margin-top: 15px;
}

.main_index .ind_play .ind_play_ul li div span {
  height: 15px;
}

.main_index .ind_play .ind_play_ul li div span:nth-child(1) {
  float: left;
  margin-left: 20px;
  color: #f8563d;
  font-weight: 700;
}

.main_index .ind_play .ind_play_ul li div span:nth-child(2) {
  margin-right: 10px;
  float: right;
}

.main_index .ind_play .ind_play_ul li div span:nth-child(2) i {
  display: inline-block;
  margin-left: 10px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
  vertical-align: baseline;
}

.main_index .ind_play .ind_play_ul li div span:nth-child(2) i:nth-child(1) {
  background: url(../img/tubiao/zan.png) no-repeat center center;
}

.main_index .ind_play .ind_play_ul li div span:nth-child(2) i:nth-child(2) {
  background: url(../img/tubiao/xin.png) no-repeat center center;
}

.main_index .ind_jiaz {
  height: 125px;
  background-color: #f7f7f7;
  line-height: 100px;
  text-align: center;
  font-size: 16px;
  color: #f8563d;
  cursor: pointer;
}
