.reg_main {
  width: 1920px;
  height: 800px;
}

.reg_zuche {
  margin-top: 20px;
  width: 100%;
  height: 900px;
  background-color: #f7f7f7;
  overflow: hidden;
}

.reg_zuche .reg_zuche_tit {
  height: 50px;
}

.reg_zuche .reg_zuche_tit span {
  float: left;
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  box-sizing: border-box;
}

.reg_zuche .reg_zuche_tit span:nth-child(1) {
  margin-left: 350px;
  margin-right: 100px;
}

.reg_zuche .reg_zuche_tit span:hover {
  color: white;
  background-color: tomato;
}

.reg_zuche .reg_zhuc_div {
  margin: 10px auto;
  width: 400px;
  height: 600px;
}

.reg_zuche .reg_zhuc_div input {
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.reg_zuche .reg_zhuc_div #zhuc_btn {
  width: 100%;
  height: 50px;
  background-color: tomato;
  border: none;
}

.reg_zuche .reg_zhuc_div .inp_img input {
  width: 60%;
}

.reg_zuche .reg_zhuc_div .inp_img i {
  float: right;
  width: 150px;
  height: 50px;
  background: url(../img/imgCode.jpg) no-repeat center center;
  background-size: 150px 50px;
}

.reg_zuche .reg_zhuc_div .inp_num input {
  width: 60%;
}

.reg_zuche .reg_zhuc_div .inp_num span {
  float: right;
  width: 150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  border: 1px solid tomato;
  border-radius: 10px;
  cursor: pointer;
}

.reg_zuche .reg_dengl_div {
  margin: 10px auto;
  width: 400px;
  height: 500px;
}

.reg_zuche .reg_dengl_div input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
}

.reg_zuche .reg_dengl_div #zhuc_btn {
  width: 100%;
  height: 50px;
  background-color: tomato;
  border: none;
}

.reg_zuche .reg_dengl_div .inp_img input {
  width: 50%;
}

.reg_zuche .reg_dengl_div .inp_img i {
  float: right;
  width: 150px;
  height: 50px;
  background: url(../img/imgCode.jpg) no-repeat center center;
  background-size: 150px 50px;
}

.reg_zuche .reg_dengl_div #zhuc_btn1 {
  width: 100%;
  height: 50px;
  background-color: tomato;
  border: none;
}

.reg_zuche .xians {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.reg_zuche #dl_pwd_div,
.reg_zuche #dl_name_div,
.reg_zuche #dl_pone_div,
.reg_zuche #inp_pwd1_div,
.reg_zuche #inp_pwd_div,
.reg_zuche #inp_name_div,
.reg_zuche #inp_num_div,
.reg_zuche #inp_img_div,
.reg_zuche #pone_div {
  width: 100px;
  height: 20px;
  color: red;
}
